<div class="profile-page-dots">
    <div class="wrapper">
      <section class="section-head">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="card-plain">
                <div class="card-header">
                  <h1 class="profile-title-header text-left">{{content.title}}</h1>
                  <h5 class="text-on-back">{{content.subTitle}}</h5>
                </div> 
              </div>  
            </div>
          </div>
        </div>
      </section>
      <div class="section pt-4">
        <img class="pattern4" src="assets/img/path1.png" />
        <div class="container">
          <div class="row justify-content-between">
            
            <div class="col-md-5">
              <h1 class="profile-title-general text-left">{{section.firstSection.subTitle}}</h1>
              <h5 class="text-on-back-slider">{{section.firstSection.title}}</h5>
              <p class="profile-description-general text-justify">
                {{section.firstSection.description}}
              </p>
            </div>
            <div class="col-md-6">
              <div class="row justify-content-between align-items-center">
                <carousel [showIndicators]="true">
                  <slide>
                    <img
                      alt="First slide"
                      class="d-block"
                      src="assets/img/ml_img_1.jpg"
                    />
    
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                  </slide>
                  <slide>
                    <img
                      alt="Second slide"
                      class="d-block"
                      src="assets/img/ml_img_2.jpg"
                    />
    
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                  </slide>
                  <slide>
                    <img
                      alt="Third slide"
                      class="d-block"
                      src="assets/img/ml_img_3.jpg"
                    />
    
                    <div class="carousel-caption d-none d-md-block">
                    </div>
                  </slide>
                </carousel>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <section class="section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <h1 class="text-center">{{section.secondSection.title}}?</h1>
              <div class="row row-grid justify-content-center">
                <div class="col-lg-3 text-center">
                  <div class="info pt-5">
                    <div class="icon icon-primary">
                      <i class="tim-icons icon-money-coins"> </i>
                    </div>
                    <h4 class="info-title">Accreditations and Certifications</h4>
                    <hr class="line-primary"/>
    
                    <p>
                      All our employees and team members have achieved the following accreditation and certification.
                    </p>
                  </div>
                </div>
                <div class="col-lg-3 text-center">
                  <div class="info pt-5">
                    <div class="icon icon-warning">
                      <i class="tim-icons icon-chart-pie-36"> </i>
                    </div>
                    <h4 class="info-title">ISO</h4>
                    <hr class="line-warning" />
                    <p>
                      ISO 9001:2015 Certified
                    </p>
                  </div>
                </div>
                <div class="col-lg-3 text-center">
                  <div class="info pt-5">
                    <div class="icon icon-success">
                      <i class="tim-icons icon-single-02"> </i>
                    </div>
                    <h4 class="info-title">Trusted</h4>
                    <hr class="line-success" />
    
                    <p>
                      Trusted by many Fortune 500 companies
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section section-lg section-safe pb-2">
        <img class="pattern2" src="assets/img/path5.png" />
    
        <div class="container">
          <div class="row row-grid justify-content-between">
            <div class="col-md-5">
              <img class="img-fluid floating" src="assets/img/ml_img_4.jpg" />
    
              <div class="card card-stats bg-danger">
                <div class="card-body">
                  <div class="justify-content-center">
                    <div class="numbers">
                      <p class="card-title">100%</p>
                      <p class="card-category text-white">Safe</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card card-stats bg-info">
                <div class="card-body">
                  <div class="justify-content-center">
                    <div class="numbers">
                      <p class="card-title">573 K</p>
                      <p class="card-category text-white">Satisfied customers</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card card-stats bg-default">
                <div class="card-body">
                  <div class="justify-content-center">
                    <div class="numbers">
                      <p class="card-title">10 425</p>
                      <p class="card-category text-white">Business</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="px-md-5">
                <hr class="line-success" />
    
                <h3>{{section.thirdSection.title}}</h3>
                <p class ="text-justify">
                  {{section.thirdSection.description }}
                </p>
                
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section">
        <img class="path w-50" src="assets/img/path4.png" />
  
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center mb-5">
              <h1>
                What Makes Us Different ?
              </h1>
            </div>
          </div>
          <div class="row row-grid justify-content-between">
            <div class="col-md-12 mt-lg-5">
              <div class="row">
                <ng-container *ngFor="let stat of section.fourthSection.stats;">
                  <div class="col-lg-3 col-sm-12 px-2 py-2">
                    <div class="card card-stats height">
                      <div class="card-body text-center">
                        <h4 class="px-2 py-2 card-list-title">{{stat.description}}</h4>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <div class="section"></div>
    </div>
</div>