<div class="wrapper">
  <ng-container *ngIf="isLoadingData">
    <div class="page-header header-filter "></div>
  </ng-container>
  <ng-container *ngIf="!isLoadingData">
    <div class="page-header header-filter img">
      <div class="container">
        <div class="content-center brand">
          <h2 class="h1-seo">{{content.title}}</h2>
          <p class="description subtitle">
            {{content.subTitle}}
          </p>
        </div>
      </div>
    </div>

    <div class="section">
      <img class="path" src="assets/img/path3.png" />
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-5">
            <h1 class="profile-title text-left">{{section.firstSection.title}}</h1>
            <p class="profile-description text-justify">
              {{content.description}}
            </p>
          </div>
          
          <div class="col-md-6">
            <div class="row justify-content-between align-items-center">
              <carousel [showIndicators]="true">
                <ng-container *ngFor="let carousel of section.firstSection.carousel;">
                  <slide>
                    <img
                      alt="First slide"
                      class="d-block"
                      src="{{carousel.src}}"
                    />
    
                    <div class="carousel-caption d-none d-md-block">
                      <h5>{{carousel.description}}</h5>
                    </div>
                  </slide>
                </ng-container>
              </carousel>
            </div>
          </div>

          <div class="col-md-12 mt-lg-4">
            <p class="profile-description text-justify">
              {{content.description2}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <section class="section">
      <img class="path" src="assets/img/path4.png" />

      <div class="container">
        <div class="row row-grid justify-content-between">
          <div class="col-md-12 mt-lg-5">
            <div class="row">
              <ng-container *ngFor="let stat of section.secondSection.stats;">
                <div class="col-lg-3 col-sm-12 px-2 py-2">
                  <div class="card card-stats height">
                    <div class="card-body">
                      <h4 class="px-2 py-2 card-list-title">{{stat.description}}</h4>
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="section">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-md-6">
            <div class="row justify-content-between align-items-center">
              <carousel [showIndicators]="true">
                <ng-container *ngFor="let carousel of section.thirdSection.carousel;">
                  <slide>
                    <img
                      alt="Second slide"
                      class="d-block"
                      src="{{carousel.src}}"
                    />
    
                    <div class="carousel-caption d-none d-md-block">
                      <h5>{{carousel.description}}</h5>
                    </div>
                  </slide>
                </ng-container>
              </carousel>
            </div>
          </div>
          <div class="col-md-5">
            <h1 class="profile-title text-left">{{section.thirdSection.title}}</h1>
            <p class="profile-description text-justify">
              {{section.thirdSection.description}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <section class="section section-lg">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <h1 class="text-center">{{section.fourthSection.title}}</h1>
            <div class="row row-grid justify-content-center">
              <ng-container *ngFor="let feature of section.fourthSection.featureList;">
                <div class="col-lg-{{12 / section.fourthSection.featureList.length}} text-center">
                  <div class="info info-mobile-app">
                    <div class="icon icon-{{feature.type}}">
                      <i class="tim-icons {{feature.icon}}"> </i>
                    </div>
                    <h4 class="info-title">{{feature.title}}</h4>
                    <hr class="line-primary" />
    
                    <p>
                      {{feature.description}}
                    </p>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</div>